[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/adonamarkkevin/lazy-vim-config
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
